body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: red;
  font-size: 20px;
}
table {
  background-color: rgb(223, 219, 219);
  border-collapse: collapse;
}
th {
  font-weight: bold;
  color: brown;
}
h2 {
  font-weight: bold;
}
tr {
  color: red;
  border: 2px solid red;
}
td,
th {
  color: red;
  border: 2px solid red;
}
